#choose_desired_file {
    background-color: #fd68a6;
    border: 4px solid #8083ff;
    font-family: "Times New Roman", serif;
    border-collapse: separate;
    font-weight: bold;
    margin: 8px;
}

#text_file_name {
    font-weight: bold;
}

#import_file_data {
    background-color: #f83939;
    border: 4px solid #9444dc;
    font-family: "Times New Roman", serif;
    border-collapse: separate;
    font-weight: bold;
    margin: 8px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: separate;
    background-color: #7500de;
    margin: 5px;
}

.row {
    flex-direction: row;
    display: flex;
}

* {
    box-sizing: border-box;
    font-size: 17px;
}

.top_nav {
    text-align: center;
    overflow: hidden;
    background-color: #498ae8;
}
.top_nav input[type="text"]{
    float: right;
    padding: 15px;
    border: none;
    margin-top: 8px;
    margin-right: 11px;
    font-size: 17px;
}

.find_game_button {
    box-sizing: border-box;
    float: right;
    padding: 15px;
    border: none;
    margin-top: 15px;
    margin-right: 8px;
    font-size: 17px;
}

body {
    background: url("../test_ui_images/database_background.jpg") no-repeat;
    float: left;
    display: block;
}

@media screen and (max-width: 1250px) {
    table, th, td, #choose_desired_file, #import_file_data, #text_file_name, input {
        width: 100%;
    }
}

@media screen and (max-height: 450px) {
    table, th, td, #choose_desired_file, #import_file_data, #text_file_name, input{
        height: 100%;
    }
}